{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="welcome-page">
    <div class="title-part">
        <div class="title-wrapper">
            <h1 class="landingPage-logo glitch" data-text="BugTracker">BugTracker</h1>
        </div>
    </div>  
    <div class="user-form">
        <h1 class="login-selector"><a href="{% url 'signup' %}">Sign Up</a> | Login</h1>
        {% if error_messsage %}<p class="red-text">{{ error_message }}</p>{% endif %}
        <form method="POST" action='{% url "login" %}'>
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary" value="Login"></input>
            <input type="hidden" name="next" value="{{ next }}"></input>
        </form>
    </div>
</div>
    
{% endblock %}