{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="welcome-page">
    <h1 class="landingPage-logo">BugTracker</h1>
    <div class="user-form">
        <h1>Sign Up | <a href="{% url 'login' %}">Login</a></h1>
        {% if error_messsage %}<p class="red-text">{{ error_message }}</p>{% endif %}
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary" value="Sign Up">
        </form>
    </div>
</div>
    
{% endblock %}