{% extends 'extended-base.html' %}

{% block child %}

<div class="container main-page-lists">
    <h1 class="display-2 title">{{ project.name }}</h1>

        {% if does_have_teammates %}
        <div class="d-inline">
            <h3>Teammates:</h3>
                <p>{% for teammate in project.teammates.all %}
                    {% if teammate != current_user %}
                        <span>{{ teammate.username }}</span>
                    {% endif %}
                {% endfor %}</p>
        </div>
        {% endif %}

        <a href="{% url 'add_teammates' project.id %}" class="btn btn-secondary btn-sm add_teammates">Add Teammates</a>

        {% if project.bug_set.count %}
        <div class="d-inline">
            <h3>Bugs:</h3>
                {% for bug in project.bug_set.all %}
                        <p class="bug-preview"><a href="{% url 'bug_detail' bug.id %}">{{ bug.title }}</a> <span>/{{ bug.file_name }}</span><span class="bug-preview-description">{{ bug.description |truncatewords:8 }}</span></p>
                {% endfor %}</p>
        </div>
        {% else %}
        <h3>No Bugs Yet</h3>
        {% endif %}

        <a href="{% url 'project_bug_create' project.id %}">+ Add Bug</a>

</div>
{% endblock %}