{% extends 'extended-base.html' %}

{% block child %}

<div class="container main-page-lists">
    <div class="row">
        <div class="col">
            <h1>Projects List</h1>
            {% for project in projects %}
                <div class="card-content">
                    <a href="{% url 'project_detail' project.id  %}">{{ project.name }}</a>
                </div>
            {% endfor %}
            <a href="{% url 'project_create' %}">+ Add Project</a>
        </div>
        <div class="col">
            <h1>Bugs List</h1>
            {% for project in projects %}
                <div class="card-content">
                    <span>Bug Example</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


    
{% endblock %}