{% extends 'extended-base.html' %}

{% block child %}

<div class="container main-page-lists">
    <div class="row">
        <div class="col">
            <h1>Projects</h1>
            {% for project in projects %}
                <div class="card-content">
                    <a href="{% url 'project_detail' project.id  %}">{{ project.name }}</a>
                </div>
            {% endfor %}
            <a href="{% url 'project_create' %}">+ Add Project</a>
        </div>
        <div class="col">

            <div>
                <h1>Unresolved Bugs</h1>
                {% for bug in unresolved_bugs %}
                        <p class="bug-preview"><a href="{% url 'bug_detail' bug.id %}">{{ bug.title }}</a> <span>/{{ bug.project.name }}</span><span class="bug-preview-description">{{ bug.description |truncatewords:8 }}</span></p>
                {% empty %}
                <p>No unresolved bugs yet!</p>
                {% endfor %}
            </div>

            <div>
                {% if resolved_bugs %}
                <h1>Resolved Bugs</h1>
                {% for bug in resolved_bugs %}
                        <p class="bug-preview"><a href="{% url 'bug_detail' bug.id %}">{{ bug.title }}</a> <span>/{{ bug.project.name }}</span><span class="bug-preview-description">{{ bug.description |truncatewords:8 }}</span></p>
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
</div>


    
{% endblock %}